{% extends "base.html" %}

{% block content %}
    <b>User profile:</b>
    &nbsp;&nbsp;
    <span id="user-name"></span>

    <br><br><br><br>
    Bond Portfolio
    <br><br>

    <div id="user-portfolio">
        <table>
            <thead>
                <tr>
                    <th>issue name</th>
                    <th>isin</th>
                    <th>value</th>
                    <th>coupon type</th>
                    <th>interest rate</th>
                    <th>coupon frequency in months</th>
                    <th>purchase date</th>
                    <th>maturity date</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <script type="text/javascript">
        window.onload = function() {
            client.showUserDetails();
            client.showUserBonds();
        };
    </script>

{% endblock %}
