{% extends "base.html" %}

{% block content %}
    <b>User profile:</b> &nbsp;&nbsp; <span id="user-name"></span>
    <br><br><br><br>
    Bond Portfolio
    <br><br>

    <div id="user-portfolio">
        <table>
            <thead>
                <tr>
                    <th>issue name</th>
                    <th>isin</th>
                    <th>value</th>
                    <th>coupon type</th>
                    <th>interest rate</th>
                    <th>coupon frequency in months</th>
                    <th>purchase date</th>
                    <th>maturity date</th>
                </tr>
            </thead>
            <tbody>
                {% for bond in bonds %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}

                <tr>
                    <td>x</td>
                    <td>q</td>
                    <td>w</td>
                    <td>e</td>
                    <td>r</td>
                    <td>t</td>
                    <td>s</td>
                    <td>u</td>
                </tr>
                <tr>
                    <td>x</td>
                    <td>q</td>
                    <td>w</td>
                    <td>e</td>
                    <td>r</td>
                    <td>t</td>
                    <td>s</td>
                    <td>u</td>
                </tr>

            </tbody>
        </table>
    </div>

    <script type="text/javascript">
        window.onload = function() {
            client.showUserProfileData();
            // client.showUserPortfolioData();
        };
    </script>

{% endblock %}
