{% extends "base.html" %}

{% block content %}
    <b>User profile:</b>
    &nbsp;&nbsp;
    <span id="user-name"></span>

    <div id="portfolio">
        <div id="portfolio_action-bar">
            <span>Bond Portfolio</span>
            <button style="margin-left: 826px;" onclick="client.showAddBondForm();">Add bond</button>
        </div>
        <div id="portfolio_data">
            <table id="bond-list">
                <thead>
                    <tr>
                        <th>issue name</th>
                        <th>isin</th>
                        <th>value</th>
                        <th>coupon type</th>
                        <th>interest rate</th>
                        <th>coupon frequency in months</th>
                        <th>purchase date</th>
                        <th>maturity date</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <form id="bond-form" data-bondId="" class="hidden">
                <table>
                    <thead>
                        <tr>
                            <th id="bond-form-title"></th>
                            <th>
                                <button id="bond-form-close-button"
                                        type="button"
                                        onclick="document.getElementById('bond-form').classList.add('hidden');"
                                        style="float: right; margin-left: 4px;">
                                        close
                                </button>
                                <input id="bond-form-create-button"
                                       class="hidden"
                                       type="submit"
                                       value="Create"
                                       onclick="client.createBond(event);"
                                       style="float: right;">
                                </input>
                                <input id="bond-form-update-button"
                                       class="hidden"
                                       type="submit"
                                       value="Update"
                                       onclick="client.updateBond(event);"
                                       style="float: right;">
                                </input>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>issue name</td>
                            <td><input type="text" id="input-issue-name"></input></td>
                        </tr>
                        <tr>
                            <td>isin</td>
                            <td><input type="text" id="input-isin"></input></td>
                        </tr>
                        <tr>
                            <td>value</td>
                            <td><input type="number" id="input-value"></input></td>
                        </tr>
                        <tr>
                            <td>coupon type</td>
                            <td>
                                <select id="input-coupon-type">
                                    <option value="" selected disabled></option>
                                    <option value="Fixed Rate">Fixed Rate</option>
                                    <option value="Floating Rate">Floating Rate</option>
                                    <option value="Zero Coupon">Zero Coupon</option>
                                    <option value="Step Up">Step Up</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>interest rate</td>
                            <td><input type="number" id="input-interest-rate" step="0.01" min="0" placeholder="0.00"></input></td>
                        </tr>
                        <tr>
                            <td>coupon frequency in months</td>
                            <td><input type="number" id="input-coupon-frequency-in-months" min="0"></input></td>
                        </tr>
                        <tr>
                            <td>purchase date</td>
                            <td><input type="date" id="input-purchase-date"></input></td>
                        </tr>
                        <tr>
                            <td>maturity date</td>
                            <td><input type="date" id="input-maturity-date"></input></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        window.onload = function() {
            client.showUserDetails();
            client.showUserBonds();
        };
    </script>

{% endblock %}
